[2014-02-28 22:45] jameswyse opened #1 "Redis key encoding"
According to [redis.io](http://redis.io/topics/data-types-intro):

Any reason we would still need to use `encodeURIComponent` when generating keys?

[2014-03-08 23:18] hueniverse opened #3 "Add example"

[2014-03-08 23:18] #3 closed, assigned to hueniverse

[2014-05-20 21:34] hueniverse opened #5 "Bring coverage back to 100%"

[2014-05-20 21:39] #5 closed, assigned to hueniverse

[2014-05-20 21:40] #1 closed, assigned to hueniverse

[2014-06-12 06:22] hueniverse opened #7 "Remove large ttl test"
No longer limited to 32bit msec

[2014-06-12 06:23] #7 closed, assigned to hueniverse

[2014-08-03 05:35] hueniverse opened #8 "Rename spumko to hapijs"

[2014-08-03 05:35] #8 closed, assigned to hueniverse

[2014-09-12 10:06] avaly opened #9 "Server with `catbox-redis` keeps process active after `close()`"
Steps to reproduce:
- create a server and set the cache strategy to `catbox-redis`
- start the server
- close the server

Expected behavior: the process should exit

Actual behavior: the process hangs and runs continuously, even after the server was closed.

It seems that `catbox-redis` is still keeping the connection to the Redis server active after the server closes.

See test case and output: h

[2014-09-22 18:43] arb opened #10 "Cleanup Tests"
Cleanup tests per https://github.com/hapijs/discuss/issues/24

[2014-10-01 07:16] rrsmith opened #11 "Reconnection"
The error handler set on start kills the client, which means this does not gracefully reconnect when the redis server comes back up.

Is there any danger in removing this? Or is there some nicer way we could have a graceful reconnect (possibly as an option?)

[2014-10-21 18:08] zeke opened #12 "Unable to run tests"
[code]

[2014-12-17 15:27] #12 closed, assigned to lloydbenson

[2015-01-05 18:57] hueniverse commented on #11
@LoicMahieu is the new maintainer.

[2015-01-06 10:22] LoicMahieu commented on #11
@SachaCR There is no works scheduled about this and PR is really welcome obviously.
It don't know the best way to handle this. Removing `client.end()` and `self.stop()` can expose us to some memory leak. (?)
I will do some tests for evaluating fixes. Meanwhile PR, comments, etc... are welcome.

[2015-01-08 14:13] LoicMahieu commented on #9
I can not reproduce the bug from this code base:
[code]
This has probably already been fixed. Thanks for reporting.

[2015-01-08 14:13] #9 closed

[2015-05-22 15:20] achingbrain opened #23 "New release?"
The ability to select a database to use for caching was [added to this module a few months ago](https://github.com/hapijs/catbox-redis/commit/cab7ef11d540a3a0a6a4f229a3492de2448f8f8e).

The latest version on npm is a bit older than this and doesn't have this feature - is there any chance of a new release in the near future?

[2015-06-04 09:33] ludoblues commented on #23
@LoicMahieu The [Auto reconnect feature](https://github.com/hapijs/catbox-redis/pull/21) is not included either in the v1.0.4, maybe we could at least have a beta tag if you still not confident about some points ?

Thanks.

[2015-06-25 08:54] LoicMahieu commented on #23
v1.0.5 published. Sorry for the delay

[2015-06-25 08:54] #23 closed

[2015-06-28 10:35] pierreinglebert commented on #11
Doesn't #21 solve this ?

[2015-06-28 18:54] robinjmurphy opened #24 "Default partition value mentioned in README is not correct"
Hello,

I'm using catbox-redis but I don't need a `partition` for my cache. The [README](https://github.com/hapijs/catbox-redis/blob/master/README.md#options) says that the `partition` property defaults to empty string. In fact it is formatted as the string `undefined` in all Redis commands.

[code]

Setting a value of empty string does have the desired effect, but results in a leading `:` in the

[2015-10-30 13:56] LoicMahieu commented on #11
Yes #21 solves the problem.

[2015-10-30 13:56] #11 closed

[2015-10-30 15:41] LoicMahieu commented on #24
Sorry for being late @robinjmurphy

First of all, the README is not correct. The default partition is not `''` but is `'catbox'`, see https://github.com/hapijs/catbox/blob/master/lib/client.js#L13.
Secondly, it appears you pass an instantiated catbox-redis object to catbox. In this case, options are not set default by catbox.

For a correct behavior:
[code]

Setting a empty string in `partition` w

[2015-10-30 15:41] #24 closed

[2015-11-05 21:23] jgrenon opened #32 "Invalidating cache when id is dynamic"
I have a cache segment storing product-reviews query results. The query include a single product (or more) and other parameters, each of which will affect the result, so they must be included in the cache key for the right result to be produced when the same query is re-executed.
Someone creates a new product-review on a product. Of course, at this point some queries must be invalidated, but I don

[2015-11-16 13:56] LoicMahieu commented on #32
Your question is about [`catbox`](https://github.com/hapijs/catbox) and not `catbox-redis` which is only the redis adapter. I suggest you to move your issue to the catbox repository, or better, create an issue in the repository [`discuss`](https://github.com/hapijs/discuss) of hapi.js, it is dedicated to this kind of question.
But anyway, I don't think there is such concept in catbox.

[2015-11-16 13:56] #32 closed

[2016-01-20 20:40] DJMcK opened #33 "Silent Auth Failure"
Currently if authentication fails during `start` the plugin will register successfully. The only indication of the failure is when you attempt to interact with the cache (for me this was `.set`) which will also fail silently.

A little debugging shows that `connect` fires before authentication is attempted - which emits `error` but is too late to stop the plugin registering. Changing `connect` to

[2016-02-09 18:36] cejast opened #34 "Allow for partition to be optional"
In some cases I don't think a `partition` is necessary - I'm already using `segment` on the `key` object to namespace my keys.

When omitting `partition` from the options it does not default to an empty string as the README suggests (the key instead results in `undefined:segment:key`). Using an empty string would also result in a key prefixed with an unwanted colon (`:segment:key`).

I'd be happy

[2016-02-26 04:37] timcosta opened #35 "Segment not being added to cache string"
I'm not seeing the segment on the cache key be added to the Redis key string. Here's my implementation, and the output. Hopefully someone has an idea as to what is happening.

[code]

Any thoughts? Seems to me like the segment in the key is just being ignored.

[2016-03-14 10:25] LoicMahieu commented on #35
Hi @tjsail33
Strange, my tests confirms that segment works as it should, see this example:
[code]
Output: `[ 'cp-test:baz:foo' ]`

Can you post a complete sample ? Thanks.

[2016-03-14 10:49] LoicMahieu commented on #34
`partition` is part of `catbox` and not directly related to this adapter. But anyway the key is resolved by the internal method [`generateKey`](https://github.com/hapijs/catbox-redis/blob/master/lib/index.js#L187) so it would be possible to this module to omit the `partition` when it is undefined.
I look at other adapters and it appears the `partition` is ignored in some of them.
I think it would

[2016-03-14 11:40] LoicMahieu commented on #33
Thanks for reporting this issue.
Yes indeed, if authentication is enabled on redis-server, an event `error` is fired when calling `set` or `get` methods. This behavior is a bug.

At this time, the redis client is created by the internal so we can presume that `no_ready_check` is false. Waiting `ready` instead of `connect` in the internal `start()` looks to be a great fix.
See PR: #37

[2016-03-15 10:20] #10 closed

[2016-03-15 10:43] #33 closed

[2016-03-15 10:46] LoicMahieu commented on #33
Released: 1.0.8

[2016-03-15 11:56] #34 closed

[2016-03-15 11:57] LoicMahieu commented on #34
Published catbox-redis@1.1.0

[2016-03-15 17:09] LoicMahieu opened #41 "PR #38 should have been published in a major version"
I made a mistake and I apologize for this.
PR #38 produced breaking changes: incompatibility with node@0.10

In order to fix the situation, I will create a new branch `1.x`, revert the PR #38 and publish a new version 1.1.1.
Master branch will be `2.x`.

[2016-03-15 17:25] LoicMahieu commented on #41
Published:
+ catbox-redis@1.1.1
+ catbox-redis@2.0.0

I hope it does not impact too many people.

[2016-03-15 17:25] #41 closed

[2016-03-15 19:16] sehod opened #42 "Breaking change on 1.0.x releases"
Between yesterday and today, the 1.0.x releases stopped supporting Node 0.10.

I wouldn't expect a patch version bump for a lib to be a breaking platform/API change. Was this intentional? Older systems that depend on ~1.0.x where x < 7 are now breaking.

[2016-03-15 19:27] LoicMahieu commented on #42
Hi @sehod
You are right. It is a mistake, the PR #38 shouldn't be released in a patch. See issue #41 I published version 1.1.1 which supports Node 0.10 again.
But 1.0.x has not been fixed yet, it is in progress.
I am sorry for the inconvenience.

[2016-03-15 19:45] LoicMahieu commented on #42
v1.0.10 has just been published and fix the issue.

[2016-03-15 20:15] gergoerdosi commented on #42
@LoicMahieu: I think 1.0.9 should be unpublished from npm.

[2016-03-15 21:53] sehod commented on #42
Thanks @LoicMahieu

[2016-03-23 16:58] #42 closed

[2016-04-23 18:02] jmandzik opened #43 "Deprecation warning on failed connect"
When failing to connect, the version of node-redis this package depends on throws a deprecation warning because `.end()` is called without a flush parameter.

[2016-05-27 12:50] kanongil opened #46 "npm install fetches v1.0.10"
You should probably manually tag `2.0.0` as `latest`.

[2016-05-31 14:12] j0shua commented on #43
I've created a [PR](https://github.com/hapijs/catbox-redis/pull/47) that simply adds the flush parameter to the client.end() call as recommended on the [node redis docs](https://github.com/NodeRedis/node_redis#clientendflush)

[2016-06-10 15:03] KeKs0r opened #48 "Using Hashes"
Hi,

I was thinking about how catbox behind the curtain stores its values. And its just as key value, the same as in e.g. memcache. And due to the fact that the method name (from hapi) is part of the Key, this adds quite a lot to the memory footprint.

Would you be open to a PR changing the storage of cache values to a Hash? I know that this is not backwards compatible, but maybe for a new major v

[2016-06-14 09:11] LoicMahieu commented on #48
Hi @KeKs0r
I am not sure to well understand. This package is responsible to only be a provider for `redis` database for [`catbox`](https://github.com/hapijs/catbox) library.
Are you sure that your issue should not be addressed to the catbox repository ?
Thanks

[2016-06-14 09:12] LoicMahieu commented on #43
Closed for #47

[2016-06-14 09:12] #43 closed

[2016-06-14 09:19] Marsup commented on #43
@LoicMahieu Please complete the milestone here as well.

[2016-06-14 09:39] LoicMahieu commented on #46
Latest is now v2.0.2

[2016-06-14 09:39] #46 closed

[2016-06-15 09:35] KeKs0r commented on #48
Hi @LoicMahieu

Yes, since it is changing the implementation how catbox-redis is storing its values in redis. For catbox nothing would change.

To illustrate this a little better: Instead of using SET and GET (to store and retrieve values from redis)
Lets assume we have the following method to be cached:
``javascript
server.method('getUser', (userId, cb) => {
   db.select('user').where({id:user}).

[2016-07-06 08:58] franzip opened #50 "Connecting over SSL"
Hi,

I am using Microsoft Azure Redis Cache which comes with SSL enabled by default.
Is there a way to pass a tls config object to `redis.createClient()` ?

[2016-07-06 09:18] mtharrison commented on #50
Relevant: https://github.com/NodeRedis/node_redis/issues/650

[2016-07-18 08:24] LoicMahieu commented on #48
Hi @KeKs0r

Thanks for your explanation. It seems to be what @mark-bradshaw tried to accomplish in #17 .
I am obviously open to performance optimization, even if it breaks the storage. It would be awesome if we can prove the performance gain with benchmarks!

[2016-07-18 11:49] KeKs0r commented on #48
It is indeed the same idea as #17. So I guess we can close this issue and continue the discussion there.

I don't think we need a particular benchmark since its not improving actual performance but memory footprint. And I guess there are some already out there. (I remember a talk about redis where someone mentioned memory savings above 30% with this approach. Also it is what the official redis doc

[2016-07-18 11:49] #48 closed

[2016-08-10 16:32] carlosfaria94 commented on #50
The solution is to enable non-SSL port in Azure

https://azure.microsoft.com/en-us/documentation/articles/cache-nodejs-get-started/

[2016-11-11 10:01] kanongil commented on #50
A shift to [ioredis](https://github.com/hapijs/catbox-redis/pull/539) would make SSL/TLS a simple config option.

[2016-11-16 15:41] andianderson522 opened #54 "Issues with clustered redis"
When using a clustered redis we get the following errors intermittently:

`id=1479306778963:IST:10139:ivl121e5:10027, url=/, method=GET, env=local, userAgent=node-superagent/1.8.4, requestIp=127.0.0.1, referrer=, xClient=integration, xForwardedFor=undefined, endpoint=api, message=MOVED 11927 10.91.54.52:6379, stack=ReplyError: MOVED 11927 10.91.54.52:6379
    at parseError (/Users/aanders3/Documen

[2016-11-16 16:13] Marsup commented on #54
Feels like a question you should direct at the redis module, not catbox.

[2017-01-21 12:50] sivabalan02 opened #55 "Catbox-redis is showing disconnected error on my hapijs application"
I have used to catbox-redis plugin but when i run the code i got disconnected error. When i search where i get this error, i found that it was coming from the catbox lib client.js isReady function

[code]

[2017-01-26 10:39] claaslange opened #59 "catbox-redis cannot retrieve value of 0 from cache."
#### What are you trying to achieve or the steps to reproduce?

When I store an integer of value 0 in catbox, I want to be able to retrieve it later without any problems.

#### What was the result you received?

When I try to get the value from `catbox-redis` I receive an error stating `Error: Incorrect envelope structure`.

#### What did you expect?

I expect to get back my value of 0.

#### Cont

[2017-02-01 00:56] abritinthebay opened #60 "Suggest switching to ioredis for newer Redis feature support like Clusters"
The current Redis module is barely updated when it comes to features. Specifically it's completely missing support for a major feature: Clusters.

It also has been missing that feature for _years_.

The other major Redis client- https://github.com/luin/ioredis-  is basically drop-in as a replacement and supports clusters.

Thoughts about switching? I'd open a PR but want to know if it would even b

[2017-02-01 01:20] abritinthebay opened #61 "Support for separate read and write redis servers."
This would involve creating two connections internally. Using one for reads and one for writes.

This is very useful when dealing with read replicas for scaling purposes.

Suggested example config would be:

[code]

Where `read` is either an object (or, optionally, a `redis:.//` connection url?) and `readClient` is the read replica equivalent of `client`. That way it only uses the read config if p

[2017-02-01 02:27] devinivy commented on #60
Check out #53!

[2017-02-01 18:27] abritinthebay commented on #60
![Oooooooo](https://media.giphy.com/media/nVXzt7FSJlX7W/giphy.gif)

ok, closing then as it's already in progress 😅

[2017-02-01 18:27] #60 closed

[2017-03-28 15:34] LoicMahieu commented on #35
This issue is quite old. I close it but feel free to re-open it.

[2017-03-28 15:34] #35 closed

[2017-03-28 15:35] LoicMahieu commented on #50
catbox-redis@3.0.1 is out. We switch to `ioredis` for communication with Redis.
Please take a look and re-open the issue if you think the problem is not solved.
Thanks.

[2017-03-28 15:35] #50 closed

[2017-03-28 15:36] LoicMahieu commented on #54
catbox-redis@3.0.1 is out. We switch to `ioredis` for communication with Redis.
So I close the issue but feel free to open a new one if you think the problem is not solved.
Thanks.

[2017-03-28 15:36] #54 closed

[2017-03-29 08:08] kanongil opened #63 "v3.0.1 is not on github"

[2017-04-07 15:06] rubennorte opened #64 "Fault-tolerant startup"
The ioredis driver allows connections to fail, and when that happens commands are queued and sent when reconnected. This works fine in all cases but when the application is starting.

I think this library should not return an error when the first connection fail. I know it will make debugging harder as a bad authentication or server configuration will be detected later, but it will make applicatio

[2017-04-18 16:09] rubennorte commented on #64
This was fixed in version 3 that uses ioredis 10 days before my issue, so sorry for the noise.

[2017-04-18 16:09] #64 closed

[2017-05-01 10:32] SimonSchick opened #65 "Sentinel Support"
We recently [forked](https://github.com/WatchBeam/catbox-redis) this repo in order to add native sentinel config support to it.

I'd like to pull request this, but adding a full sentinel integration tests would require me to add a full sentinel config and another 2 redis instances.

Would it be sufficient to mock out `ioredis` and simply check if it was called with the right arguments?

[2017-05-12 04:47] love-lulu opened #66 "catbox-redis"
I don't really understand catbox - redis exactly how to connect to, I want the inside of the redis content how to finish, I trouble you to the author, to look at the code, how to obtain the contents of the redis

[2017-05-16 16:11] DavidTPate commented on #66
@love-lulu I'm not sure what you need help with, could you please provide some more details?

[2017-05-18 06:43] LoicMahieu commented on #65
Hi @SimonSchick
Nice work! Indeed, full integration test with a sentinel redis setup would be difficult to reproduce in travis.
Mocking `ioredis` looks to be a good alternative as your modifications are really clean.

Go open a PR ! Great work!

[2017-05-24 21:24] SimonSchick commented on #65
@LoicMahieu and @hueniverse for review pretty please? 😄

[2017-05-25 07:54] hueniverse commented on #65
Sorry but I don't have time for this one.

[2017-05-25 10:55] SimonSchick commented on #65
Oh I'm really sorry @hueniverse , I meant to post this on my pull request not on the issue. 😅

[2017-05-26 03:52] hueniverse commented on #65
Same thing...

[2017-07-19 13:08] #65 closed

[2017-07-19 13:10] LoicMahieu commented on #63
Fixed! Thanks

[2017-07-19 17:17] AdriVanHoudt commented on #63
@LoicMahieu we can close this then no?

[2017-07-20 09:33] #63 closed

[2017-08-02 08:35] anttiviljami opened #68 "Server fails to start"
When using catbox-redis@3.0.2, the server fails to start, giving this error.

[code]

The exact same configuration works just fine with catbox-redis@3.0.1.

[2017-08-02 08:39] LoicMahieu commented on #68
Hi @anttiviljami
Could you provide a sample config that produce the bug ?
Changes since 3.0.1 are small and should not causes errors https://github.com/hapijs/catbox-redis/compare/v3.0.1...v3.0.2

[2017-08-02 11:50] anttiviljami commented on #68
I'm actually using catbox-redis with Hapi.js

Here's the config:

[code]

[2017-08-08 09:13] LoicMahieu commented on #68
I do not know well Hapi. Have you tried removing the `name` key ? Do you encounter the problem with versions prior to `catbox-redis@3.0.2` ?

[2017-08-08 09:37] anttiviljami commented on #68
Everything before 3.0.2 seems to work. The name parameter is required for Hapi, unfortunately.

[2017-08-08 11:43] anttiviljami commented on #68
It must be that Hapi, when calling the constructor is going into this branch, and not the correct one.

https://github.com/hapijs/catbox-redis/compare/v3.0.1...v3.0.2#diff-6d186b954a58d5bb740f73d84fe39073R47

Could you do a check to see that this.settings.sentinelName also exists to that if structure?

I should report this issue to Hapi as well.

[2017-08-15 08:58] kanongil commented on #68
I suspect that Hapi set the `options.name` property to `undefined`. In Hapi / Joi terms that is the similar to `delete options.name`.

However, the redis-parser iterates through all option keys and finds that `typeof undefined !== 'string'`, and throws this error instead of ignoring the option.

The catbox-redis fix should probably be to create a cleaned up copy of the `options` that is handed to

[2017-09-15 14:04] JasonJJFS opened #70 "Azure redis fails"
Cannot save data to Azure Redis, either on secure or non secure ports. Same code works through an open, unproxied connection to a local redis. I notice in the package.json that the ioredis version is 2.x.x.
An update to 3.x.x solves this issue. Furthermore we cannot seem to connect to Azure Redis port (6380), Again I assume that this is due to the ioredis version that used in catbox-redis as
Many

[2017-09-18 10:27] AdriVanHoudt commented on #70
I made a quick PR since v3 should not break things so let's see if all the tests pass ^^

[2017-09-18 10:29] #70 closed

[2017-09-18 10:31] LoicMahieu commented on #70
+ catbox-redis@3.1.0

Thanks @AdriVanHoudt 🎉

[2017-09-18 11:00] AdriVanHoudt commented on #70
No problem :D

[2017-09-18 12:09] JasonJJFS opened #73 "Azure Redis"
Sorry to reopen this.  We are connecting via SSL. Our config is, I am using a cloned copy locally to debug.
[code]

With the inclusion of in the lib
[code]

What I've noticed is that the redis client object always shows the default settings for PORT and HOST, never the ones set in the Hapi server({}):
[code]

[2017-09-18 12:12] JasonJJFS commented on #73
Using

[code]

Produces the correct result

[code]

[2017-10-24 01:18] KLVTZ commented on #66
@love-lulu go through the following

https://github.com/hapijs/catbox-redis/blob/master/examples/redis.js

It demonstrates the following:

- How to connect
- How to get content from redis

[2017-11-04 00:25] hueniverse opened #75 "Housekeeping"
Please close any issue that does not require action. If it does, please indicate a plan or post a help needed label. Looks like it is actively maintained, just not fully to hapi.js standards.

[2017-11-04 00:26] hueniverse opened #76 "Support catbox 10 (hapi v17)"

[2017-11-23 13:04] #76 closed

[2017-11-28 22:23] EgoAleSum commented on #59
This should be fixed in 4.0.0

[2017-12-06 14:12] niklasR commented on #61
Hi, @abritinthebay just wondering if you've got that working anywhere? Would be interested in exactly this!

[2017-12-06 16:46] abritinthebay commented on #61
I got it working with ioredis locally/on work test servers but nothing I can (legally/ethically) share. We also transitioned away from Redis (too slow for our use case!) so it’s not current.

That said: wasn’t too hard to get working.

[2018-01-19 18:46] RakeshKulangara opened #80 "Unhandled rejection ReplyError: MOVED 10140"
We setup a AWS's Elasticache Redis Cluster (has built-in failover / replication / load balancing, no need to know the server addresses). All we have is a configuration endpoint which will be used for all purposes.

**AWS Documentation**

```Redis (cluster mode enabled) clusters, use the cluster's Configuration Endpoint for all operations. You must use a client that supports Redis Cluster (Redis 3.

[2018-01-27 07:18] SimonSchick commented on #80
I ran into the same problem today.
You need to explicitly pass a custom redis client instance into the server.

Roughly like this:
[code]

[2018-01-27 07:20] SimonSchick commented on #80
@LoicMahieu you should really add an example on how to pass a custom client, it's not really documented but allows passing all sorts of extra options.
You could even considering dropping the hard dependency on `redis` and let people inject their own, making it a peer dep instead so the proxy role of this library goes away.

[2018-03-27 06:29] Elexy commented on #73
I have a PR open to fix Azure hosted Redis.
https://github.com/hapijs/catbox-redis/pull/82

Be sure to keep the connection alive (i.e. PING), Azure Redis will end the connection after 5 minutes.

[2018-06-14 13:14] LoicMahieu commented on #75
Hi @hueniverse
Yes I am currently not able to correctly maintain this module due to a lack of time.

[2018-06-15 05:21] hueniverse opened #85 "New lead maintainer"
Looking for a new lead or I will deprecate this module.

[2018-06-22 08:37] marcuspoehls commented on #85
@hueniverse I’ll take time and respond to open issues and PRs. It may take some days to take care of everything. We can discuss further steps next week :)

[2018-06-22 08:46] marcuspoehls commented on #59
@claaslange Hey Claas, this is fixed in `catbox-redis` v4. We’ve added [a test for that](https://github.com/hapijs/catbox-redis/blob/68cd76de17d6fcb074d7163f697fb49c22db550e/test/index.js#L786) to make sure this does not break in future releases :)

Have fun!

[2018-06-22 08:46] #59 closed

[2018-06-22 08:58] marcuspoehls commented on #55
@sivabalan02 Hey, are you still experiencing this issue? Did you upgrade `catbox-redis` to version 4?

[2018-06-22 09:09] marcuspoehls commented on #68
@anttiviljami Hey Viljami, is this still an issue for you?

Did you upgrade `catbox-redis` to version 4 or do you need to go with version 3?

[2018-06-22 09:10] #66 closed

[2018-06-22 09:24] marcuspoehls commented on #80
@SimonSchick Hey Simon, good point. I’ll add that to the documentation. Will keep this issue open until its part of the docs.

[2018-06-22 09:30] marcuspoehls commented on #73
@JasonJJFS @Elexy I’m picking up `catbox-redis` and will have a look at this issue next week. Will also check the linked PR. More details next week.

[2018-06-22 09:32] marcuspoehls commented on #61
I’ll have a look at this issue next week. Will keep you in the loop

[2018-06-22 09:32] SimonSchick commented on #80
Actually this might not even solve it, I've had some troubles with the latest version of hapi...

[2018-06-22 09:34] SimonSchick commented on #80
`new Server` deep clones all it's options (and therefor the redis client) the only safe way to create a redis cache with a custom client seems to be:

[code]

[2018-06-22 09:48] marcuspoehls commented on #80
Thank you for pointing me to this. Will check that as well

[2018-06-25 11:39] #55 closed

[2018-06-25 13:09] Elexy commented on #73
Great news. Let me know if you need me to take any action @marcuspoehls

[2018-06-26 08:06] JasonJJFS commented on #73
Cool.

[2018-06-27 13:12] marcuspoehls commented on #73
Merged
https://github.com/hapijs/catbox-redis/pull/82

[2018-06-27 13:12] #73 closed

[2018-06-27 13:14] marcuspoehls commented on #61
I'm hesitant to add this functionality to `catbox-redis`. I guess a custom `client` is suited best for this.

Will close it here. If I miss something, please comment/reopen :)
Thank you!

[2018-06-27 13:14] #61 closed

[2018-06-27 13:15] marcuspoehls commented on #68
@anttiviljami Hi Viljami, just checking in again. Do you have this issue with `catbox-redis` 4?

[2018-07-02 20:09] #68 closed

[2018-07-02 20:18] marcuspoehls commented on #80
@SimonSchick A scenario we’ve seen is that a custom client isn’t connected when passing it as the `client` property in the `catbox-redis` options. Especially the `ioredis` clients needed some extra love to connect properly.

Did you run into those issues?

[2018-07-02 20:41] SimonSchick commented on #80
What do you mean?
Post code pls

[2018-07-07 06:29] curious12coder1 commented on #54
How do we specify the cluster redis info? say I have 3 redis nodes in the cluster, how to specify them in the config cache?

[2018-07-10 07:52] marcuspoehls commented on #54
@curious12coder1 You need to pass a custom `client` to `catbox-redis`

[2018-07-10 07:57] marcuspoehls commented on #80
@SimonSchick supporting Redis clusters in `catbox-redis` requiresa custom `client` instance. The Redis client created in `catbox-redis` does not support cluster mode yet.

I'm currently waiting for the release of `ioredis 4.0`. This will make the custom client handling a lot easier: https://github.com/luin/ioredis/releases

Here's the first draft of the updated readme showing more details on the c

[2018-07-10 07:57] #80 closed

[2018-07-18 22:58] hueniverse commented on #85
Sure thing. Been on vacation.

[2018-07-18 22:58] #85 closed

[2018-08-18 17:33] SimonSchick opened #88 "Add ioredis v4 as dependency."
May I also suggest to remove ioredis as a dependency entirely and have the consumer inject it instead?

[2018-08-20 01:35] AndreasChristianson opened #90 "unable to cache `false` via redis"
When caching a boolean in redis, the cached value cannot be retrieved. Below is a test from the perspective of a hapi server method showing that `false` cannot be cached then retrieved.

This test assumes that redis is running locally on its default port.
[code]
console output:
[code]

My naive searches turned up #59, perhaps this is related.

[2018-08-20 12:42] devinivy commented on #90
Yes, #59 was originally handled as a part of #77.  I think this line (below) ought to be adjusted to account for `''` and `false`.  Perhaps it should just ensure the property exists and ignore the actual value/contents.

https://github.com/hapijs/catbox-redis/blob/042750d3672b35f2eb6e5be7036d91c7085c6e6b/lib/index.js#L143

[2018-08-20 20:15] AndreasChristianson commented on #90
If no one has fixed this, I'll get a pr open in a couple days.

[2018-08-20 22:34] steevhise commented on #59
Can this be backported to hapi 16?

[2018-08-21 04:12] marcuspoehls commented on #90
@AndreasChristianson Hey Andreas, good catch! Would be great if you create a PR for this. Thank you!

[2018-08-21 04:31] marcuspoehls commented on #88
Hi Simon, my initial thought is that we can’t make sure the injected redis client supports the commands used by `catbox-redis`. I mean, all clients usually implement the Redis API and there shouldn’t be an issue. However, you never know if that’s true.

In my opinion, keeping ioredis is fine and the user can leverage the `client` option to inject a custom client.

What do you think?

[2018-08-21 08:12] SimonSchick commented on #88
Maybe make it a peer dependency instead?

[2018-08-21 08:41] marcuspoehls commented on #88
I don't know peer dependencies very well.

@devinivy Devin, can you help me out?

[2018-08-21 09:20] SimonSchick commented on #88
@marcuspoehls The main reason why I think we should get rid of redis as a direct dep is that ~20% of the current ctor is just passing through options to the redis constructor.
If you want to do anything _remotely_ complex you will have pass a manually created instance regardless.

[2018-08-22 13:26] devinivy commented on #88
The way glue handles this (it relies on hapi) is that it declares hapi as a dependency with as wide a range of acceptable versions as possible.  If the user does not include hapi as a dependency in their project, then glue's dependency will ensure it's available.  If the user _does_ include hapi as a dependency, then `npm install` will have deduped that dependency as long as the versions are compa

[2018-09-07 02:55] #90 closed

[2018-09-07 03:05] marcuspoehls commented on #90
@AndreasChristianson `catbox-redis 4.2.1` is available allowing you to cache `false`

[2018-09-08 08:12] marcuspoehls commented on #88
For now, I don’t want to remove the `ioredis` dependency. I’m open to any discussion. Please reopen or open a new issue if we should think it through again.

Closing here.

[2018-09-08 08:12] #88 closed

[2018-10-01 23:25] mshick opened #92 "4.2.2 regression — cannot connect to Redis server"
I've encountered a regression between 4.2.1 and 4.2.2, where suddenly my servers are unable to connect to my redis instance. This is replicated in two environments, locally (in docker containers) and in my CI environment.

Is there some major change that could account for this? I currently pass a config object like this:

[code]

[2018-10-09 21:22] #92 closed, assigned to nobody

[2018-10-09 22:03] mshick commented on #92
@marcuspoehls Thanks for addressing. Sorry I didn't do that PR — I just worked around in my own code and had to move on.

[2018-10-10 03:41] marcuspoehls commented on #92
@mshick No problem! I hope this issue didn’t cause much trouble for you. Have a great day!

[2018-10-11 07:15] lewispham commented on #80
ioredis 4.0 has released already. Does catbox-redis has any plans to support cluster redis?

[2018-10-11 07:43] marcuspoehls commented on #80
@lewispham Hi Lewis, Redis cluster support is in planning for `catbox-redis`. There is an open pull request https://github.com/hapijs/catbox-redis/pull/84 that will add this feature.

In case you have time available, you can offer your help in the PR.
Would you be interested in implementing cluster support?

[2018-10-11 16:11] lewispham commented on #80
@marcuspoehls Yes I'm interested. But I won't be available until this weekend. So if nobody else is interested then I will take a look at it at that time.

[2018-10-11 19:17] SimonSchick commented on #80
I still think we should make a breaking change and ONLY pass the ioredis client into catbox-redis, this drastically reduce this package's code size and avoid having to add wrapper code for redis features.

[2019-04-20 22:54] hueniverse opened #96 "Change module namespace"

[2019-04-21 20:37] hueniverse opened #97 "Refactor options"
Validate all options using joi schema. Non-listed Redis options are no longer supported. Remove catbox options from being passed to Redis client.

[2019-04-21 20:38] hueniverse opened #98 "Switch to use Redis pexpire"
Requires Redis version >= 2.6.

[2019-04-21 20:39] #96 closed

[2019-04-21 20:39] #97 closed

[2019-04-21 20:39] #98 closed

[2019-05-15 12:09] hgrubst opened #102 "Allowing empty password"
I have upgraded from version 4 to 5.0.1 and cannot pass a empty password to my cache configuration anymore :
[code]
In the example above  I use the confidence module to get the strings for host port and password replaced. When in dev, my local redis has no password and so the configuration results in an empty string. But catbox-redis has a joi validation schema with password set to Joi.string()
Wo

[2019-05-19 17:26] #102 closed

[2019-08-06 02:17] wantanmee opened #103 "Example "db" parameter error"
Hi,
In the example, `db` is an available Redis options. however, using 'db' will cause following error:

and I check the source code:
[code]

so I  change `db` to `database` fix the error:
[code]

[2019-08-14 05:58] greenkeeper[bot] opened #104 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 20:27] #104 closed

[2019-08-14 20:29] hueniverse commented on #103
It's a bug in joi. Will be fixed when I update to joi v16

[2019-08-14 20:58] hueniverse opened #106 "Update deps"

[2019-08-14 22:28] #106 closed

[2019-09-12 23:19] hueniverse opened #107 "Update joi"

[2019-09-12 23:28] #107 closed, assigned to hueniverse

[2020-01-02 03:29] Mayankyadav123 opened #110 "Issue while configuring catbox-redis"
I am developing a hapijs backend and facing issue configuring catbox-redis for tokens.
using gluejs.
I have a manifest.js
import config from "./lib/config";
import { getLogLevel } from "./lib/logging";
import { createConnection } from "./lib/database";
const CatboxRedis = require("@hapi/catbox-redis");

//import Package from "../package.json";
import relish from "relish";

const Relish = relish();

[2020-01-04 23:58] hueniverse opened #112 "Only node 12"

[2020-01-04 23:59] hueniverse commented on #110
Please follow the template instructions and try again.

[2020-01-04 23:59] #110 closed

[2020-01-05 00:09] #112 closed

[2020-04-17 07:14] J0NNYZER0 commented on #110
I am getting the same error. How come the docs are not straight forward. Like do I register catbox as a module or what? Like this should not be difficult.

[2020-05-21 20:05] flippidippi opened #114 "Update a key's value (not TTL)"
* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 12.14.1
* *module version*: 5.0.5
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framew

[2020-05-21 22:15] hueniverse commented on #114
There is no way to do that. It also doesn't make sense to update a cached value without also updating it's ttl. All you can do is set a new, shorter ttl.

[2020-05-21 22:15] #114 closed

[2020-05-22 14:24] flippidippi commented on #114
Is there a way to get the current ttl to set a new short ttl?

[2020-05-22 16:36] hueniverse commented on #114
You have to get the current value first.

[2020-05-27 02:11] benkiefer opened #115 "Redis Configuration Options"
#### Support plan

* *which support plan is this issue covered by?* Community
* *is this issue currently blocking your project?* no
* *is this issue affecting a production system?* yes

#### Context

* *node version*: 12.14.1, 12.16.3, 12.10.x
* *module version*: 5.0.5
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi

[2020-05-27 12:50] jshulk commented on #110
Issue is with the official docs, removing "tls" option gets this working.
Reference - https://stackoverflow.com/a/59075822/925214

[2020-05-27 15:31] flippidippi commented on #114
That doesn't given you the current ttl though correct?

[2020-05-27 18:25] hueniverse commented on #114
It should give you the current value and remaining ttl.

[2020-06-04 21:23] flippidippi commented on #114
Looks like I needed to add `getDecoratedValue` to the `server.cache` call. Got it thanks!

[2020-06-12 15:58] akashkrishnan opened #116 "Publish v6 to NPM"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise):
**Community**
* *is this issue currently blocking your project?* (yes/no):
**yes**
* *is this issue affecting a production system?* (yes/no):
**no**

#### Context

* *node version*:
**14.4.0**
* *module version*:
**6.0.0**
* *environment* (e.g. node, browser, native):
**node, browser**

[2020-07-10 03:32] #116 closed

[2020-07-10 03:38] #115 closed

[2021-02-25 02:36] idahogurl opened #119 "Support `scaleReads`"
#### Support plan
* *is this issue currently blocking your project?* Yes
* *is this issue affecting a production system?* Yes

#### Context

* *node version*:  10.x
* *module version*: 5.0.2
* *environment* (e.g. node, browser, native): Node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi application
* *any other relevant information*:

#### What problem are you try

[2021-02-26 15:26] Nargonath commented on #119
If I understand correctly, you want the option `scaleReads` to be passed to redis from the plugin options, don't you? Does it need any further development from this plugin to use such option or just passing it solves your problem? If the latter, have you tried passing it already? From what I can see here: https://github.com/hapijs/catbox-redis/blob/8bb1c36750ff28c5dfa992de31b100b6d8745154/lib/inde

[2021-02-26 17:38] idahogurl commented on #119
@Nargonath Thanks for the reply! Yes. It does allow unknown Redis options **IF** you pass a custom client. I attempted without and I got a validation error.

[2021-02-26 19:58] idahogurl commented on #119
@Nargonath I tried with the latest package and it did work. Unfortunately we are not using `@hapi/hapi@20`. I cloned this repository and did a `yarn link`. It fails to connect but according to this https://github.com/luin/ioredis/issues/1003 I have to be on the EC2 box. I will mark the issue as closed. We will have to do some upgrades. Thank you!!

[2021-02-26 19:58] #119 closed

[2021-02-27 08:57] Nargonath commented on #119
You're welcome @idahogurl . I'm glad I could help. 😉

[2021-05-06 19:48] Silur commented on #110
@hueniverse
it would be nice to fix the example code then, it's weird that in 2021 one has to dig out how to make **broken template instructions** work from the issues.

[2021-05-06 19:50] hueniverse commented on #110
@Silur first, maybe find a more productive way to make requests without being so entitled. Second, I don't maintain hapi anymore.

[2021-05-07 08:37] Nargonath commented on #110
@Silur code examples are open sourced so if you spot an error you are very welcome to provide a PR for a fix.

[2022-07-24 00:09] johnmanko opened #122 "Support RedisJSON for storing JSON objects, change to Redis.call instead of Redis.get/set"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 18.3.0
* *module version*: 6.0.2
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi.js
* *any other relevant information*:

#### What problem

[2022-07-24 09:30] kanongil commented on #122
I don't see how the native `JSON.<X>` methods can give any advantage to us. They allow to directly access embedded JSON objects / values, but we always use the root. The interface to the REDIS server is still string-based, so there is no change in serialization, except that ioredis now controls it.

These new methods are also not compatible with the open-source releases of redis.

Finally, changin

[2022-11-01 17:18] Coachonko opened #124 "Cluster-awareness"
I am running hapi 20. Following the documentation, the following configuration works fine on a single-instance redis server.

[code]

Is this configuration also cluster-aware (does it get redirected)? Or do I need to change the configuration to interface with a cluster?